.container {
  height: 118px;
  width: 100%;
  background-color: #6534ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.container img {
  margin-top: -45px;
}

.link {
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.link:hover {
  color: #906ffd;
}

@media (min-width: 1024px) {
  .container {
    height: 148px;
  }
}
